<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".title") %></title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>

    <!-- 上橫條 -->
    <div id="banner">
      <span class="title"><%= t(".title") %></span>
      <p align="right"><%= Time.now.strftime("%Y/%m/%d %H:%M") %></p>
    </div>

    <div id="columns">
      <div id="columns">
      	<div id="side">

          <!-- 購物車 -->
          <% if @cart %>
          <div id="cart"
              <% if @cart.line_items.empty? %>
                style="display: none"
              <% end %>
            >
          	<%= render @cart %>
          </div>
          <% end %>

          <!-- 多國語系選單 -->
          <ul>
          	<li><a href="/"><%= t('.home') %></a></li>
          	<li><a href="/"><%= t('.questions') %></a></li>
          	<li><a href="/"><%= t('.news') %></a></li>
          	<li><a href="/"><%= t('.contact') %></a></li>
          </ul>

          <!-- 給管理者的選單 -->
          <% if session[:user_id] %>
          <hr>

        	<ul>
        		<li><%= link_to 'Orders', orders_path %></li>
        		<li><%= link_to 'Products', products_path %></li>
        		<li><%= link_to 'Users', users_path %></li>
        	</ul>
          <% end %>

      	</div>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
